* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.day {
  background-image: url(../assets/images/sunny-day.jpg);
}

.night {
  background-image: url(../assets/images/night.jpg);
}

.dawn {
  background-image: url(../assets/images/dawn.png);
}

.kitten {
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
  width: 100%;
}

.kitten-medium {
 background-image: url(../assets/images/kitten-medium.png);
}

.kitten-small {
  background-image: url(../assets/images/kitten-small.png);
}

.kitten-large {
  background-image: url(../assets/images/kitten-large.png);
}