* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100vw;
}

.background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.kitten {
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
  width: 100vw;
}

/* mobile */
.day-scene {
  background-image: url(../assets/images/dawn.png);
}

.kitten-size {
  background-image: url(../assets/images/kitten-large.png);
}

.view {
  display: block;
}

/* tablet*/
@media (min-width: 768px) {
  .view {
    display: block;
  }

  .day-scene {
    background-image: url(../assets/images/night.jpg);
  }
  
  .kitten-size {
    background-image: url(../assets/images/kitten-small.png);
  }
}

/*desktop*/
@media (min-width: 992px) {
  .view {
    display: block;
  }

  .day-scene {
    background-image: url(../assets/images/sunny-day.jpg);
  }

  .kitten-size {
    background-image: url(../assets/images/kitten-medium.png);
   }
}